body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
        "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
        "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
        monospace;
}

.container {
    height: 100vh;
    width: 100vw;
    background-image: linear-gradient(to bottom right, #a9dbd4, #fecab9);
    display: flex;
    justify-content: center;
    align-items: center;
}

.input {
    position: relative;
    height: 120px;
    width: 80vw;
    max-width: 1500px;
    margin-bottom: 5%;
    background-color: rgba(255, 255, 255, 0.4);
    border-radius: 20px;
    box-shadow: 0px 10px 1em rgba(125, 125, 125, 0.1);
}

.mask {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 70px;
    overflow: hidden;
    text-align: center;
    mask: linear-gradient(
        90deg,
        transparent,
        white 10%,
        white 90%,
        transparent
    );
}

pre {
    line-height: normal;
    margin: 0;
}

.char {
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    width: 37px;
    height: auto;
    text-align: center;
    padding: 10px;
    margin: 5px;
    border-radius: 10px;
}

.positive {
    background-color: #a9dbd4;
}

.negative {
    background-color: #ed744c;
}

.erased {
    background-color: transparent;
}

.fixed {
    background-color: #fecab9;
}

.cursor {
    position: absolute;
    height: 100px;
    width: 8px;
    left: 50.7%;
    top: 50%;
    transform: translate(-50%, -50%);
    /* background-color: black; */
    background-image: linear-gradient(#fec982, #ff9f67);
    animation: cursor-blink 1s steps(2) infinite;
}

@keyframes cursor-blink {
    0% {
        opacity: 0;
    }
}
